// docker compose is going to load these variables as in this example
DISCORD_TOKEN=example_token
MYSQL_DATABASE=szkodnikrp
MYSQL_USER=www
MYSQL_PASSWORD=your_secure_password
//  open.mp does not support .env files so for now the database should never be exposed to public internet and the login details have to be hard-coded